@import url("https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap");
/* Base */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  font-size: 1rem;
  background: #c1e1ec;
}

* {
  font-family: "Raleway", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
}

body {
  color: #fff;
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

.container {
  width: 95%;
  margin: 0 auto;
}

@media screen and (min-width: 576px) {
  .container {
    width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 85%;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 80%;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 75%;
    max-width: 1200px;
  }
}

.hide {
  display: none;
}

/* Layout */
header {
  position: fixed;
  z-index: 1;
  padding-top: 1rem;
  width: 100%;
  min-height: 100px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: linear-gradient(170deg, #ff0000 0%, #f9b700 100%);
  -webkit-box-shadow: 0 8px 6px -6px red;
          box-shadow: 0 8px 6px -6px red;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media screen and (min-width: 768px) {
  header .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

footer {
  margin-top: auto;
  width: 100%;
  height: 100px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: linear-gradient(170deg, #ff0000 0%, #f9b700 100%);
  -webkit-box-shadow: 0 -8px 8px -7px red;
          box-shadow: 0 -8px 8px -7px red;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page {
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
}

/* width */
::-webkit-scrollbar {
  width: 0.5vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: #86c5da;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(170deg, #ff0000 0%, #f9b700 100%);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(170deg, #e60000 0%, #e0a400 100%);
}

/* Components */
.nav {
  background: rgba(0, 0, 0, 0.8);
  color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
  height: 100vh;
  width: 100vw;
}

@media screen and (min-width: 576px) {
  .nav {
    width: 45vw;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    width: 40vw;
  }
}

@media screen and (min-width: 992px) {
  .nav {
    width: 35vw;
  }
}

@media screen and (min-width: 1200px) {
  .nav {
    width: 30vw;
  }
}

.nav.shift {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.5);
  padding-top: 16px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 100px;
}

.nav__header {
  margin: auto;
  margin-left: 0;
  font-size: 1.25rem;
}

@media screen and (min-width: 992px) {
  .nav__header {
    font-size: 1.75rem;
  }
}

.nav__toggle {
  font-size: 1.25rem;
  cursor: pointer;
  color: #eee;
}

.nav__toggle--open {
  -webkit-transition: ease-in-out 700ms;
  transition: ease-in-out 700ms;
}

.nav__toggle--open.hidden {
  -webkit-transform: translateX(-55vw);
          transform: translateX(-55vw);
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
}

.nav__toggle--close {
  color: #c69200;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 1rem;
}

.nav__item {
  list-style-type: none;
  margin-bottom: 0.5rem;
}

.nav__link {
  line-height: 1.25rem;
  color: #eee;
  text-decoration: none;
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
}

.nav__link--text {
  position: relative;
}

.nav__link--text::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5%;
  background: #eee;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
}

.nav__link--text:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.nav__icon {
  margin-right: 0.5rem;
  font-size: 1.25rem;
  height: 1.25rem;
  width: 1.25rem;
  line-height: 1.25rem;
}

.nav__divider {
  margin: 1rem 0;
  border: none;
  border-radius: 5px;
  height: 2px;
  background: linear-gradient(170deg, #ff0000 0%, #f9b700 100%);
}

.hero {
  background: url(../img/hero.png) no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
  margin: 90px 0 1rem 0;
  height: 40vh;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero.shrink {
  height: 20vh;
}

.hero__text {
  text-align: center;
  margin-top: auto;
  font-weight: bolder;
  letter-spacing: 8px;
  color: #eee;
  text-shadow: -1px -1px 0 #222, 1px -1px 0 #222, -1px 1px 0 #222, 1px 1px 0 #222;
}

@media screen and (min-width: 576px) {
  .hero__text {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .hero__text {
    margin: auto;
  }
}

.hero__subtext {
  font-size: calc(1.75rem * 0.75);
}

.sign-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 1rem;
}

@media screen and (min-width: 992px) {
  .sign-in {
    margin-left: auto;
  }
}

.title--main {
  margin-left: 0.5rem;
  color: #fff;
}

.title--main__taco {
  color: transparent;
  background: url(../img/logo.png) no-repeat;
  background-position-y: 60%;
  background-size: cover;
  margin: 0;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  -webkit-box-shadow: 8px 8px 6px -6px red;
          box-shadow: 8px 8px 6px -6px red;
  padding: 1rem;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 1rem;
  background: linear-gradient(170deg, #ff0000 0%, #f9b700 100%);
  color: #fff;
}

.card__title, .card__intro, .card__main {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 1rem;
}

.card__title {
  border-radius: 5px;
  padding: 1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  background: rgba(0, 0, 0, 0.05);
  color: #fff;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
}

.modal__btn--close {
  float: right;
  font-size: 1.25rem;
  line-height: 1.25rem;
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
  color: #fff;
}

.modal__btn--close:hover {
  color: #eee;
}

.modal .card {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  -webkit-box-shadow: 8px 8px 6px -6px #333;
          box-shadow: 8px 8px 6px -6px #333;
}

@media screen and (min-width: 576px) {
  .modal .card {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .modal .card {
    width: 70%;
  }
}

@media screen and (min-width: 992px) {
  .modal .card {
    width: 60%;
  }
}

@media screen and (min-width: 1200px) {
  .modal .card {
    width: 50%;
    max-width: 650px;
  }
}

.btn {
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
  color: #555;
  background: #fff;
  font-weight: bolder;
}

.btn:hover, .btn:focus {
  background: #eee;
}

.btn--trans {
  cursor: pointer;
  border: none;
  background: transparent;
}

.btn__icon {
  margin-right: 0.5rem;
  color: #222;
}

.btn__icon--after {
  margin-left: 0.5rem;
  color: #222;
}

.options__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 992px) {
  .options__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.options__btn {
  margin: 1rem;
}

.restaurant__title a {
  text-decoration: none;
  color: inherit;
  position: relative;
}

.restaurant__title a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5%;
  background: #eee;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
}

.restaurant__title a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.restaurant__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 992px) {
  .restaurant__info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.restaurant__photo__item {
  height: 200px;
  width: 200px;
  border-radius: 5px;
}

.restaurant__btn--fav, .restaurant__btn--del {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
}

.restaurant__btn--fav {
  color: #c69200;
}

.restaurant__btn--fav:hover {
  color: #ad7f00;
}

.restaurant__btn--del {
  color: #555;
}

.restaurant__btn--del:hover {
  color: #484848;
}

.restaurant__photo, .restaurant__address, .restaurant__rating, .restaurant__price, .restaurant__contact, .restaurant__fav-del {
  margin-bottom: 1rem;
}

.byline {
  font-style: italic;
  font-weight: bolder;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.social__link {
  text-decoration: none;
  text-align: center;
}

.social__icon {
  font-size: 2rem;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
  -webkit-box-shadow: 3px 8px 6px -6px red;
          box-shadow: 3px 8px 6px -6px red;
  color: #c69200;
  background: #fff;
}

.social__icon:hover, .social__icon:focus {
  background: #eee;
}

.yelp-form__input {
  border-radius: 5px;
  border: none;
  padding: 0.5rem 1rem;
  background: #eee;
}

.intro {
  font-size: 1.08rem;
  padding: 2rem;
}

.intro .card__title {
  margin-top: -2rem;
  margin-left: -2rem;
  margin-right: -2rem;
}

.page-break {
  margin: 1rem;
  border: none;
  border-radius: 5px;
  height: 2px;
  background: linear-gradient(170deg, #ff0000 0%, #f9b700 100%);
}

.spinner {
  font-size: 10rem;
  background: linear-gradient(170deg, #ff0000 0%, #f9b700 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.spinner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
