// Import Fonts from Google
@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap');

// Colors
$colors: (
    dark--0: #555,
    dark--1: #333,
    dark--2: #222,
    light--0: #eee,
    light--1: #fff,
    accent: darken(#f9b700, 10),
    accent-blue: darken(lightblue, 40),
    bg: lighten(lightblue, 5),
    gradient-1: linear-gradient(170deg, #ff0000 0%, #f9b700 100%),
    gradient-1--darker: linear-gradient(170deg, darken(#ff0000, 11) 0%, darken(#f9b700, 11) 100%),
    gradient-2: linear-gradient(to right, lightblue 0%, #fff 100%),
    gradient-2--darker: linear-gradient(to right, darken(lightblue, 25) 0%, darken(#fff, 25) 100%),
    gradient-2--darker--hov:
        linear-gradient(to left, darken(lightblue, 10), darken(#fff, 10), darken(lightblue, 10)),
);

// Breakpoints
$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
);

// Font Families
$ff-h: 'Oswald', sans-serif;
$ff-b: 'Raleway', sans-serif;

// Font Sizes
$font-sizes: (
    sm: 1rem,
    md: 1.25rem,
    lg: 1.75rem,
    xl: 2rem,
);

// Layout
$spacing--1: 0.5rem;
$spacing--2: 1rem;

// Design
$rounded: 5px;
