.btn {
    border-radius: 2rem;
    border: none;
    padding: $spacing--1;
    cursor: pointer;
    transition: 600ms;
    color: clr(dark--0);
    background-image: clr(gradient-2--darker--hov);
    background-size: 200%;
    font-weight: bolder;
    height: 2rem;

    &:hover,
    &:focus {
        background-position: right;
    }

    &--trans {
        cursor: pointer;
        border: none;
        background: transparent;
    }

    &__icon {
        margin-right: $spacing--1;
        color: clr(dark--2);

        &--after {
            margin-left: $spacing--1;
            color: clr(dark--2);
        }
    }
}
