.btn {
    border-radius: $rounded;
    border: none;
    padding: $spacing--1;
    cursor: pointer;
    transition: ease-in-out 300ms;
    color: clr(dark--0);
    background: clr(light--1);
    font-weight: bolder;

    &:hover,
    &:focus {
        background: clr(light--0);
    }

    &--trans {
        cursor: pointer;
        border: none;
        background: transparent;
    }

    &__icon {
        margin-right: $spacing--1;
        color: clr(dark--2);

        &--after {
            margin-left: $spacing--1;
            color: clr(dark--2);
        }
    }
}
