.btn {
    border-radius: $rounded;
    border: none;
    padding: $spacing--1 $spacing--2;
    cursor: pointer;
    transition: ease-in-out 300ms;
    color: clr(light--0);
    background: clr(dark--2);

    &:hover,
    &:focus {
        background: clr(dark--1);
    }

    &--trans {
        cursor: pointer;
        border: none;
        background: transparent;
    }

    &__icon {
        margin-right: $spacing--1;

        &--after {
            margin-left: $spacing--1;
        }
    }
}
