.intro {
    font-size: fs(sm) * 1.08;

    padding: $spacing--2 * 2;

    .card__title {
        margin-top: -($spacing--2 * 2);
        margin-left: -($spacing--2 * 2);
        margin-right: -($spacing--2 * 2);
    }
}
