.nav {
    // Local Variable
    $size: fs(md);

    background: rgba(0, 0, 0, 0.75);
    color: clr(light--0);

    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    transition: ease-in-out 300ms;
    transform: translateX(-45vw);

    height: 100vh;
    width: 40vw;

    @include mq(bp(md)) {
        width: 30vw;
    }

    @include mq(bp(lg)) {
        width: 25vw;
    }

    @include mq(bp(xl)) {
        width: 20vw;
    }

    &.shift {
        transform: translateX(0);
    }

    &__banner {
        display: flex;
        padding: $spacing--2;
        background: rgba(0, 0, 0, 0.5);
        padding-top: 16px;
        border-bottom-left-radius: $rounded;
        border-bottom-right-radius: $rounded;
        height: 100px;
    }

    &__header {
        margin: auto;
        margin-left: 0;
        font-size: fs(md);

        @include mq(bp(lg)) {
            font-size: fs(lg);
        }
    }

    &__toggle {
        font-size: $size;
        cursor: pointer;

        &--open {
            transition: ease-in-out 700ms;

            &.hidden {
                transform: translateX(-55vw);
                transition: ease-in-out 300ms;
            }
        }

        &--close {
            color: clr(light--0);
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        padding: 0 $spacing--2;
    }

    &__item {
        list-style-type: none;
        margin-bottom: $spacing--1;
    }

    &__link {
        line-height: $size;
        color: clr(light--0);
        text-decoration: none;
        transition: ease-in-out 300ms;

        &--text {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 5%;
                background: clr(light--0);

                transform: scaleX(0);
                transform-origin: left;
                transition: ease-in-out 300ms;
            }

            &:hover::after {
                transform: scaleX(1);
                transform-origin: right;
            }
        }
    }

    &__icon {
        margin-right: $spacing--1;

        font-size: $size;
        height: $size;
        width: $size;
        line-height: $size;
    }

    &__divider {
        margin: $spacing--2 0;
    }
}
