.reccard {
    display: flex;
    flex-direction: column;

    border-radius: $rounded;
    box-shadow: 8px 8px 6px -6px red;
    padding: $spacing--2;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: $spacing--2;
    background: clr(gradient-1--darker);

    &__title,
    &__intro,
    &__main {
        padding-top: 0;
        margin-top: 0;
        margin-bottom: $spacing--2;
    }
    &__icon {
        padding:5px;
    }
    &__title {
        border-radius: $rounded;
        padding: $spacing--2;
        width: 100%;
        margin-left: -$spacing--2;
        margin-right: -$spacing--2;

        background: rgba(0, 0, 0, 0.05);
        color: clr(light--1);
    }
}
