.restaurant {
    &__title {
        a {
            text-decoration: none;
            color: inherit;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        @include mq(bp(lg)) {
            flex-direction: row;
        }
    }

    &__photo,
    &__address,
    &__rating,
    &__price,
    &__contact,
    &__fav-del {
        margin-bottom: $spacing--2;
    }

    &__photo {
        &__item {
            $size: 200px;

            height: $size;
            width: $size;
        }
    }
}
