.spinner {
    font-size: fs(xl) * 5;

    background: clr(gradient-1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &__container {
        display: flex;
        justify-content: center;
    }
}
