.user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: $spacing--2;

    @include mq(bp(lg)) {
        margin-left: auto;
    }

    .btn:first-child {
        margin-bottom: $spacing--1;
    }
}

