* {
    font-family: $ff-b;
}

$heading-sizes: (h1, h2, h3, h4, h5, h6);
#{$heading-sizes} {
    font-family: $ff-h;

    a {
        font-family: inherit;
    }
}

body {
    color: clr(light--1);
    font-size: fs(sm);
}

h1 {
    font-size: fs(xl);
}

h2 {
    font-size: fs(lg);
}
