header {
    position: fixed;
    padding-top: $spacing--2;
    width: 100%;
    min-height: 100px;
    border-bottom-left-radius: $rounded;
    border-bottom-right-radius: $rounded;

    background: clr(light--0);
    box-shadow: 0 8px 6px -6px clr(dark--1);

    .container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}
